<div class="profile-header">
    <div class="profile-picture">
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile Picture" class="profile-img"/>
        <img *ngIf="!profileImage" src="path/to/default/profile/image.jpg" alt="Default Profile Picture" class="profile-img"/>
        <div class="button-container">
            <button (click)="fileInput.click()">Upload Profile </button>
            <button (click)="fileInput.click()">Edit Profile</button>
        </div>
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
        <button (click)="saveProfileImage()">Save</button>
    </div>
</div>

<h1>My Profile</h1>
<p>
    <strong>Name: </strong> {{account.title}} {{account.firstName}} {{account.lastName}}<br />
    <strong>Email: </strong> {{account.email}}
</p>
<p><a routerLink="update">Update Profile</a></p>
