/* You can add global styles to this file, and also import other style files */
a { cursor: pointer; }

.app-container {
    min-height: 320px;
}

.admin-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e8e9ea;
    border-bottom: 1px solid #ccc;
}

.btn-delete-account {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

/*-----------------------NAG EDIt JO DRI YOT */
.profile-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Adjust the spacing as needed */
}

.profile-img {
    width: 200px; /* Adjust size as needed */
    height: 200px;
    border-radius: 80%;
    object-fit: cover;
    margin-bottom: 10px;
}
/* Add these styles to your styles.less file */

.button-container {
  display: flex;
  flex-direction: row; /* Display buttons horizontally */
}

/* Adjust button styles as needed */
button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px; /* Add margin between buttons */
}

button:hover {
  background-color: #0056b3;
}


h1 {
    margin-top: 0;
}
