<div class="p-4">
    <div class="container">
        <div class="card mb-3">
                <h1>Hi {{account.firstName}}!</h1>
                <p>Welcome to IT-PID your trusted budget tracker</p>
        </div>
        
        <div class="row mt-4">
            <!-- Calendar View -->
            <div class="col-md-8 mb-4">
                <div class="input-group mb-3">
                    <input type="date" [(ngModel)]="eventDate" class="form-control" placeholder="YYYY-MM-DD">
                    <input type="text" [(ngModel)]="eventDescription" class="form-control" placeholder="Event Description">
                    <button (click)="addEvent()" class="btn btn-primary">Add Event</button>
                </div>
                <div #calendarEl></div>
            </div>

            <!-- Cards Section -->
            <div class="col-md-4 mb-4">
                <!-- Card 1: Expense Tracker -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Expense Tracker</h5>
                        <p class="card-text">Manage your expenses efficiently.</p>
                        <a routerLink="/expensetracker" routerLinkActive="active" class="btn btn-primary">Track Expenses</a>
                    </div>
                </div>

                <!-- Card 2: Category-Based -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Categorize expenses</h5>
                        <p class="card-text">View and update your profile details.</p>
                        <a routerLink="/category-based" routerLinkActive="active" class="btn btn-primary">Categorize Expenses</a>
                    </div>
                </div>

                <!-- Card 3: Notifications -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Notifications</h5>
                        <p class="card-text">Check your latest notifications.</p>
                        <a href="#" class="btn btn-primary">View Notifications</a>
                    </div>
                </div>

                <!-- Card 4: Expense History -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Expense History</h5>
                        <p class="card-text">View expense history.</p>
                        <a routerLink="/history" routerLinkActive="active" class="btn btn-primary">View History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
